
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Visual Studio Code
.vscode/

# Xcode
.xcworkspace/
build/
*.hmap
*.xccheckout
*.xcscmblueprint
*.xctestproducts
xcuserdata/

# Android/IntelliJ
.gradle/
build/
captures/
local.properties
*.apk
*.ap_
*.aab

# Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Flutter
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
flutter_*.png
lib/generated_plugin_registrant.dart
lib/firebase_options.dart
.dart_tool/
